# Firebase Configuration (Web SDK)
VITE_FIREBASE_API_KEY=AIzaSyArcEbC0mffw7Whgbw59Dd-hzIKoy5JDSE
VITE_FIREBASE_AUTH_DOMAIN=frero-boufadil-car-rental.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=frero-boufadil-car-rental
VITE_FIREBASE_STORAGE_BUCKET=frero-boufadil-car-rental.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=700870421562
VITE_FIREBASE_APP_ID=1:700870421562:web:2129ff41e10d6ef7291903

# WhatsApp
VITE_WHATSAPP_NUMBER=212616877717

# ImgBB
VITE_IMGBB_API_KEY=e96687a77e97c82146d67dee241512a1
